<%= form_with(model: cfcpost) do |form| %>
  <% if cfcpost.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(cfcpost.errors.count, "error") %> prohibited this cfcpost from being saved:</h2>

      <ul>
        <% cfcpost.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="d1">
  <%= form.label :title, class:"d-block" %>
  <%= form.text_field :title, class:"d-block form container w-50" %>
</div>

<div class="d1">
  <%= form.label :description , class:"d-block" %>
  <%= form.text_field :description, class:"d-block form container w-50 " %>
</div>

<div class="form-group">
  <%= form.label :photo, class:"d-block" %>
  <%= form.file_field :photo, class:"d-block form container w-50" %>
</div>

<div>
  <%= form.submit "enviar" %>
</div>
<% end %>