<%= form_with(model: cfccomment) do |form| %>
  <% if cfccomment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(cfccomment.errors.count, "error") %> prohibited this cfccomment from being saved:</h2>

      <ul>
        <% cfccomment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :content, style: "display: block" %>
    <%= form.text_field :content %>
  </div>

  <div>
    <%= form.label :cfcpost_id, style: "display: block" %>
    <%= form.text_field :cfcpost_id %>
  </div>

  <div>
    <%= form.label :cfcuser_id, style: "display: block" %>
    <%= form.text_field :cfcuser_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
