<div id="<%= dom_id cfcreaction %>">
  <p>
    <strong>Reaction type:</strong>
    <%= cfcreaction.reaction_type %>
  </p>

  <p>
    <strong>Kind:</strong>
    <%= cfcreaction.kind %>
  </p>

  <p>
    <strong>Cfccomments:</strong>
    <%= cfcreaction.cfccomments_id %>
  </p>

  <p>
    <strong>Cfcuser:</strong>
    <%= cfcreaction.cfcuser_id %>
  </p>

  <p>
    <strong>Cfcpost:</strong>
    <%= cfcreaction.cfcpost_id %>
  </p>

</div>
