<p style="color: green"><%= notice %></p>

<%= render @post %>

<%= form_with(model: @comment, local: true) do |f| %>
<% if @comment.errors.any? %>
  <div id = 'error_explanation'>
  <h2>Este comentario no se pudo crear por las siguientes
  razones</h2>
  <ul>
    <% @comment.errors.full_messages.each do |msg|%>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <%= f.hidden_field :post_id, value: @post.id %>
    <div class = 'field'>
    <%= f.label :content, as: "Contenido" %>
    <%= f.text_field :content %>
    <div class = 'actions'>
    <%= f.submit %>
  </div>
<% end %>
<%= render 'comments/post_comments' %>

<div>
  <%= link_to "Edit this post", edit_post_path(@post) %> |
  <%= link_to "Back to posts", posts_path %>

  <%= button_to "Destroy this post", @post, method: :delete %>
  <% Post::Kinds.each do |kind| %>
    <%= button_to "#{Post::KindsSpanish[kind]}",
    new_user_reaction_path(post_id: @post.id, reaction_type:
    "post", kind: kind), method: :post %>
  <% end %>

</div>
